<head>
    <title>Structure Detail</title>
</head>
{% extends 'base.html' %}
{% block content %}
<h1>Structure Data</h1>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">date</th>
                <th scope="col">batt</th>
                <th scope="col">temp</th>
                <th scope="col">ch1_a</th>
                <th scope="col">ch1_b</th>
                <th scope="col">ch1_c</th>
                <th scope="col">ch1_d</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ structure.date }}</th>
                <td>{{ structure.batt }}</td>
                <td>{{ structure.temp }}</td>
                <td>{{ structure.ch1_a }}</td>
                <td>{{ structure.ch1_b }}</td>
                <td>{{ structure.ch1_c }}</td>
                <td>{{ structure.ch1_d }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">ch2_a</th>
                <th scope="col">ch2_b</th>
                <th scope="col">ch2_c</th>
                <th scope="col">ch2_d</th>
                <th scope="col">ch3_a</th>
                <th scope="col">ch3_b</th>
                <th scope="col">ch3_c</th>
                <th scope="col">ch3_d</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ structure.ch2_a }}</th>
                <td>{{ structure.ch2_b }}</td>
                <td>{{ structure.ch2_c }}</td>
                <td>{{ structure.ch2_d }}</td>
                <td>{{ structure.ch3_a }}</td>
                <td>{{ structure.ch3_b }}</td>
                <td>{{ structure.ch3_c }}</td>
                <td>{{ structure.ch3_d }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">ch4_a</th>
                <th scope="col">ch4_b</th>
                <th scope="col">ch4_c</th>
                <th scope="col">ch4_d</th>
                <th scope="col">ch5_a</th>
                <th scope="col">ch5_b</th>
                <th scope="col">ch5_c</th>
                <th scope="col">ch5_d</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ structure.ch4_a }}</th>
                <td>{{ structure.ch4_b }}</td>
                <td>{{ structure.ch4_c }}</td>
                <td>{{ structure.ch4_d }}</td>
                <td>{{ structure.ch5_a }}</td>
                <td>{{ structure.ch5_b }}</td>
                <td>{{ structure.ch5_c }}</td>
                <td>{{ structure.ch5_d }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">ch6_a</th>
                <th scope="col">ch6_b</th>
                <th scope="col">ch6_c</th>
                <th scope="col">ch6_d</th>
                <th scope="col">ch7_a</th>
                <th scope="col">ch7_b</th>
                <th scope="col">ch7_c</th>
                <th scope="col">ch7_d</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ structure.ch6_a }}</th>
                <td>{{ structure.ch6_b }}</td>
                <td>{{ structure.ch6_c }}</td>
                <td>{{ structure.ch6_d }}</td>
                <td>{{ structure.ch7_a }}</td>
                <td>{{ structure.ch7_b }}</td>
                <td>{{ structure.ch7_c }}</td>
                <td>{{ structure.ch7_d }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">ch8_a</th>
                <th scope="col">ch8_b</th>
                <th scope="col">ch8_c</th>
                <th scope="col">ch8_d</th>
                <th scope="col">ch9_a</th>
                <th scope="col">ch9_b</th>
                <th scope="col">ch9_c</th>
                <th scope="col">ch9_d</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ structure.ch8_a }}</th>
                <td>{{ structure.ch8_b }}</td>
                <td>{{ structure.ch8_c }}</td>
                <td>{{ structure.ch8_d }}</td>
                <td>{{ structure.ch9_a }}</td>
                <td>{{ structure.ch9_b }}</td>
                <td>{{ structure.ch9_c }}</td>
                <td>{{ structure.ch9_d }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">ch10_a</th>
                <th scope="col">ch10_b</th>
                <th scope="col">ch10_c</th>
                <th scope="col">ch10_d</th>
                <th scope="col">ch11_a</th>
                <th scope="col">ch11_b</th>
                <th scope="col">ch11_c</th>
                <th scope="col">ch11_d</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ structure.ch10_a }}</th>
                <td>{{ structure.ch10_b }}</td>
                <td>{{ structure.ch10_c }}</td>
                <td>{{ structure.ch10_d }}</td>
                <td>{{ structure.ch11_a }}</td>
                <td>{{ structure.ch11_b }}</td>
                <td>{{ structure.ch11_c }}</td>
                <td>{{ structure.ch11_d }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">ch12_a</th>
                <th scope="col">ch12_b</th>
                <th scope="col">ch12_c</th>
                <th scope="col">ch12_d</th>
                <th scope="col">ch13_a</th>
                <th scope="col">ch13_b</th>
                <th scope="col">ch13_c</th>
                <th scope="col">ch13_d</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ structure.ch12_a }}</th>
                <td>{{ structure.ch12_b }}</td>
                <td>{{ structure.ch12_c }}</td>
                <td>{{ structure.ch12_d }}</td>
                <td>{{ structure.ch13_a }}</td>
                <td>{{ structure.ch13_b }}</td>
                <td>{{ structure.ch13_c }}</td>
                <td>{{ structure.ch13_d }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">ch14_a</th>
                <th scope="col">ch14_b</th>
                <th scope="col">ch14_c</th>
                <th scope="col">ch14_d</th>
                <th scope="col">ch15_a</th>
                <th scope="col">ch15_b</th>
                <th scope="col">ch15_c</th>
                <th scope="col">ch15_d</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ structure.ch14_a }}</th>
                <td>{{ structure.ch14_b }}</td>
                <td>{{ structure.ch14_c }}</td>
                <td>{{ structure.ch14_d }}</td>
                <td>{{ structure.ch15_a }}</td>
                <td>{{ structure.ch15_b }}</td>
                <td>{{ structure.ch15_c }}</td>
                <td>{{ structure.ch15_d }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">ch16_a</th>
                <th scope="col">ch16_b</th>
                <th scope="col">ch16_c</th>
                <th scope="col">ch16_d</th>
                <th scope="col">ch17_a</th>
                <th scope="col">ch17_b</th>
                <th scope="col">ch17_c</th>
                <th scope="col">ch17_d</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ structure.ch16_a }}</th>
                <td>{{ structure.ch16_b }}</td>
                <td>{{ structure.ch16_c }}</td>
                <td>{{ structure.ch16_d }}</td>
                <td>{{ structure.ch17_a }}</td>
                <td>{{ structure.ch17_b }}</td>
                <td>{{ structure.ch17_c }}</td>
                <td>{{ structure.ch17_d }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}